@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

em-emoji-picker {
  --border-radius: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3ch;
  cursor: default;
}

.header h2 {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 0.85rem;
  margin: 0;
  /* Remove default margin */
}

.header img {
  width: 27px;
  height: 27px;
}

.version {
  font-size: 0.7rem;
  /* Adjust font size for version text */
}

.text-holder-area {
  display: flex;
  line-height: 0.3em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.15rem;
}