/* App.css */
@font-face {
  font-family: 'Sixtyfour';
  src: url('../assets/fonts/Sixtyfour/static/Sixtyfour-Regular.ttf') format('truetype');
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

em-emoji-picker {
  --border-radius: 0 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3ch;
  cursor: default;
}

.header h2 {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 0.85rem;
  margin: 0;
  /* Remove default margin */
}

.header img {
  width: 27px;
  height: 27px;
}

.version {
  font-size: 0.7rem;
  /* Adjust font size for version text */
}

.text-holder-area {
  display: flex;
  line-height: 0.3em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.15rem;
}

.kbd-shortcut {
  background-color: transparent;
  padding: 2px 4px;
  border: 1px solid #BCBCBC;
  border-radius: 2px;
}

/* rotate this */
.logo-at-loader {
  width: 52px;
  height: 52px;
  animation: App-logo-spin infinite 4.5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-modal.ReactModal__Content--after-open {
  opacity: 1;
}

.info-modal.ReactModal__Content--before-close {
  opacity: 0;
}

.info-modal-overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.info-modal-overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

.info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10000;
  padding: 15px;
  border-radius: 0;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  position: relative;
  width: 251px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.close-button:hover {
  color: red;
  border: none;
}

.img-wrapper {  
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden; 
  margin: 0 auto;
}

.author-shatadip-img {
  width: 185px;
  border: 2px solid #4fa3d1;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.author-shatadip-img:hover {
  transform: scale(1.2);
  border: 4px solid #4fa3d1;
}

.close-button {
  position: fixed;
  top: 8px;
  right: 3px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}
.text-align-center {
  text-align: center;
}